<% var d = new Date(); var year = d.getFullYear(); %>

<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a title="Click to see error" href="/errors/intentional-error-500"> My Intentional Error Link</a>
</footer>
