<nav>
    <ul>
        <li><a href="#"></a>Home</li>
        <li><a href="#"></a>Custom</li>
        <li><a href="#"></a>Sedan</li>
        <li><a href="#"></a>SUV</li>
        <li><a href="#"></a>Truck</li>
    </ul>
</nav>
