
<h1>Welcome to CSE Motors!</h1>
<div id="car-info">
<img id="delorean" src="/images/vehicles/delorean.jpg" alt="a gray car">
<div id="own-today">
<h2>DMC Delorean</h2>
<p>3 Cup holders</p>
<p>Superman doors</p>
<p>Fuzzy dice!</p>
<button>Own Today</button>
</div>
</div>
<div id="container">
<div id="upgrades">
<h3>Delorean Upgrades</h3>
<div id="items">
<div>
    <div>
    <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
   </div>
        <a href="#">Flux Capacitor</a>
</div>
<div>
    <div>
        <img id="fire" src="/images/upgrades/flame.jpg" alt="flame decals">
    </div>
    
    <a href="#">Flame Decals</a>
</div>

<div>
    <div>
    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
   </div>

    <a href="#">Bumper Stickers</a>

</div>

<div>
    <div>
    <img id="hubcap" src="/images/upgrades/hub-cap.jpg" alt="hub caps">
</div>
    <a href="#">Hub Caps</a>
</div>
</div>
</div>
<div id="reviews">
<h3>DMC Delorean Reviews</h3>
<div>
<ul>
<li>"So fast it's almost like travelling in time." (4/5)</li>
<li>"Coolest ride on the road." (4/5)</li>
<li>"I'm feeling McFly!" (5/5)</li>
<li>"The most futuristic ride of our day!" (4.5/5)</li>
<li>"80's livin and I love it!" (5/5)</li>
</ul>   
</div>
</div>
</div>