<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <% if (messages && messages.notice) { %>
<p class="flash-message"><%= messages.notice %></p>
<% } %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<p class="form-label">
  <i>Classification name must be alphabetic characters only</i>
</p>

<form
  action="/inv/add-classification"
  method="POST"
  class="management-form classification-form"
>
  <label for="classification-name">Classification Name:</label>
  <input
    type="text"
    id="classification-name"
    name="classification_name"
    pattern="[A-Za-z0-9]+"
    placeholder=""
    title="Classification name must be alphabetic characters only"
    required
  />
  <button type="submit">Add Classification</button>
</form>
